html, body, #root {
  display: block;
  margin: 0;
  position: relative;
  float: left;

  min-width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}